# 日本の死因データを眺める

In [80]:
import pandas as pd

## データの中味確認

In [104]:
dr_org = pd.read_csv("opendata/jp/death_reason/mc120000.csv",header=13,encoding="SJIS")
dr_org

,Unnamed: 0,死亡総数,Unnamed: 2,Hi01,Unnamed: 4,Hi02,Unnamed: 6,Hi03,Unnamed: 8,Hi04,...,Hi12,Unnamed: 26,Hi13,Unnamed: 28,Hi14,Unnamed: 30,（再掲）Hi15,Unnamed: 32,Hi16,Unnamed: 34
0,NaN,NaN,NaN,結核,NaN,悪性新生物＜腫瘍＞,NaN,糖尿病,NaN,高血圧性疾患,...,腎不全,NaN,老衰,NaN,不慮の事故,NaN,交通事故,NaN,自殺,NaN
1,NaN,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,...,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率
2,総数,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1899,932087,2147.5,67599,155.7,19382,44.7,...,...,...,...,...,...,55189,127.2,21767,50.1,...,...,5932,13.7
4,1900,910744,2077.1,71771,163.7,20334,46.4,...,...,...,...,...,...,57442,131,19874,45.3,...,...,5863,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2015,623782,970.2,787,1.2,150847,234.6,6203,9.6,4121,...,12653,19.7,63922,99.4,16188,25.2,1760,2.7,6950,10.8
355,2016,633212,987,759,1.2,153242,238.9,6239,9.7,4123,...,12387,19.3,69748,108.7,16241,25.3,1613,2.5,6379,9.9
356,2017,649797,1015.7,883,1.4,152949,239.1,6240,9.8,5654,...,12566,19.6,75601,118.2,17239,26.9,1612,2.5,6132,9.6
357,2018,663332,1040.3,902,1.4,154959,243,6350,10,5634,...,12851,20.2,81405,127.7,17563,27.5,1440,2.3,6180,9.7
358,2019,673672,1060.5,914,1.4,156086,245.7,6231,9.8,5578,...,13071,20.6,90141,141.9,16790,26.4,1328,2.1,5757,9.1

In [124]:
dr_org = pd.read_csv("opendata/jp/death_reason/mc120000.csv",header=[14,15],skiprows=[16],encoding="SJIS")
dr_org

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,結核,Unnamed: 4_level_0,悪性新生物＜腫瘍＞,Unnamed: 6_level_0,糖尿病,Unnamed: 8_level_0,高血圧性疾患,...,腎不全,Unnamed: 26_level_0,老衰,Unnamed: 28_level_0,不慮の事故,Unnamed: 30_level_0,交通事故,Unnamed: 32_level_0,自殺,Unnamed: 34_level_0
,Unnamed: 0_level_1,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,...,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率
0,1899,932087.0,2147.5,67599.0,155.7,19382.0,44.7,...,...,...,...,...,...,55189.0,127.2,21767.0,50.1,...,...,5932.0,13.7
1,1900,910744.0,2077.1,71771.0,163.7,20334.0,46.4,...,...,...,...,...,...,57442.0,131.0,19874.0,45.3,...,...,5863.0,13.4
2,1901,925810.0,2087.1,76614.0,172.7,22149.0,49.9,...,...,...,...,...,...,49412.0,111.4,17993.0,40.6,...,...,7847.0,17.7
3,1902,959126.0,2133.1,82559.0,183.6,24598.0,54.7,...,...,...,...,...,...,52786.0,117.4,20035.0,44.6,...,...,8059.0,17.9
4,1903,931008.0,2044.1,85132.0,186.9,25550.0,56.1,...,...,...,...,...,...,56490.0,124.0,20472.0,44.9,...,...,8814.0,19.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,2015,623782.0,970.2,787.0,1.2,150847.0,234.6,6203,9.6,4121,...,12653,19.7,63922.0,99.4,16188.0,25.2,1760,2.7,6950.0,10.8
352,2016,633212.0,987.0,759.0,1.2,153242.0,238.9,6239,9.7,4123,...,12387,19.3,69748.0,108.7,16241.0,25.3,1613,2.5,6379.0,9.9
353,2017,649797.0,1015.7,883.0,1.4,152949.0,239.1,6240,9.8,5654,...,12566,19.6,75601.0,118.2,17239.0,26.9,1612,2.5,6132.0,9.6
354,2018,663332.0,1040.3,902.0,1.4,154959.0,243.0,6350,10,5634,...,12851,20.2,81405.0,127.7,17563.0,27.5,1440,2.3,6180.0,9.7
355,2019,673672.0,1060.5,914.0,1.4,156086.0,245.7,6231,9.8,5578,...,13071,20.6,90141.0,141.9,16790.0,26.4,1328,2.1,5757.0,9.1

In [125]:
#dr_org.loc[dr[dr.columns[0]]=="総数"]

In [126]:
#print(dr.loc[dr[dr.columns[0]]=="総数"].index)

In [127]:
dr_org.loc[dr_org[dr_org.columns[0]]=="男"]

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,結核,Unnamed: 4_level_0,悪性新生物＜腫瘍＞,Unnamed: 6_level_0,糖尿病,Unnamed: 8_level_0,高血圧性疾患,...,腎不全,Unnamed: 26_level_0,老衰,Unnamed: 28_level_0,不慮の事故,Unnamed: 30_level_0,交通事故,Unnamed: 32_level_0,自殺,Unnamed: 34_level_0
,Unnamed: 0_level_1,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,...,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率
118,男,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 総数、男、女に分解

In [237]:
dr = dr_org.copy()
t_index = 0
m_index = dr.loc[dr[dr.columns[0]]=="男"].index[0]
f_index = dr.loc[dr[dr.columns[0]]=="女"].index[0]

In [238]:
dr.loc[t_index:m_index-1,("gender_0","gender")] = "総数"
dr.loc[m_index+1:f_index-1,("gender_0","gender")] = "男"
dr.loc[f_index+1:,("gender_0","gender")] = "女"

In [239]:
dr.groupby(("gender_0","gender")).count()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,結核,Unnamed: 4_level_0,悪性新生物＜腫瘍＞,Unnamed: 6_level_0,糖尿病,Unnamed: 8_level_0,高血圧性疾患,...,腎不全,Unnamed: 26_level_0,老衰,Unnamed: 28_level_0,不慮の事故,Unnamed: 30_level_0,交通事故,Unnamed: 32_level_0,自殺,Unnamed: 34_level_0
,Unnamed: 0_level_1,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,...,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率
"(gender_0, gender)",,,,,,,,,,,,,,,,,,,,,
女,118,118,118,118,118,118,118,118,118,118,...,118,118,118,118,118,118,118,118,118,118
男,118,118,118,118,118,118,118,118,118,118,...,118,118,118,118,118,118,118,118,118,118
総数,118,118,118,118,118,118,118,118,118,118,...,118,118,118,118,118,118,118,118,118,118

In [244]:
dr[dr[("gender_0","gender")].isna()]

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,結核,Unnamed: 4_level_0,悪性新生物＜腫瘍＞,Unnamed: 6_level_0,糖尿病,Unnamed: 8_level_0,高血圧性疾患,...,Unnamed: 26_level_0,老衰,Unnamed: 28_level_0,不慮の事故,Unnamed: 30_level_0,交通事故,Unnamed: 32_level_0,自殺,Unnamed: 34_level_0,gender_0
,Unnamed: 0_level_1,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,...,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,死亡数,死亡率,gender
118,男,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,女,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
dr.dropna().loc[dr[("gender_0","gender")].isna()]

Empty DataFrame
Columns: [(Unnamed: 0_level_0, Unnamed: 0_level_1), (Unnamed: 1_level_0, 死亡数), (Unnamed: 2_level_0, 死亡率), (結核, 死亡数), (Unnamed: 4_level_0, 死亡率), (悪性新生物＜腫瘍＞, 死亡数), (Unnamed: 6_level_0, 死亡率), (糖尿病, 死亡数), (Unnamed: 8_level_0, 死亡率), (高血圧性疾患, 死亡数), (Unnamed: 10_level_0, 死亡率), (心疾患（高血圧性を除く）, 死亡数), (Unnamed: 12_level_0, 死亡率), (脳血管疾患, 死亡数), (Unnamed: 14_level_0, 死亡率), (肺炎, 死亡数), (Unnamed: 16_level_0, 死亡率), (慢性気管支炎及び肺気腫, 死亡数), (Unnamed: 18_level_0, 死亡率), (喘息, 死亡数), (Unnamed: 20_level_0, 死亡率), (胃潰瘍及び十二指腸潰瘍, 死亡数), (Unnamed: 22_level_0, 死亡率), (肝疾患, 死亡数), (Unnamed: 24_level_0, 死亡率), (腎不全, 死亡数), (Unnamed: 26_level_0, 死亡率), (老衰, 死亡数), (Unnamed: 28_level_0, 死亡率), (不慮の事故, 死亡数), (Unnamed: 30_level_0, 死亡率), (交通事故, 死亡数), (Unnamed: 32_level_0, 死亡率), (自殺, 死亡数), (Unnamed: 34_level_0, 死亡率), (gender_0, gender)]
Index: []

[0 rows x 36 columns]

In [247]:
dr.dropna(inplace=True)

In [249]:
dr[dr[("gender_0","gender")].isna()]

Empty DataFrame
Columns: [(Unnamed: 0_level_0, Unnamed: 0_level_1), (Unnamed: 1_level_0, 死亡数), (Unnamed: 2_level_0, 死亡率), (結核, 死亡数), (Unnamed: 4_level_0, 死亡率), (悪性新生物＜腫瘍＞, 死亡数), (Unnamed: 6_level_0, 死亡率), (糖尿病, 死亡数), (Unnamed: 8_level_0, 死亡率), (高血圧性疾患, 死亡数), (Unnamed: 10_level_0, 死亡率), (心疾患（高血圧性を除く）, 死亡数), (Unnamed: 12_level_0, 死亡率), (脳血管疾患, 死亡数), (Unnamed: 14_level_0, 死亡率), (肺炎, 死亡数), (Unnamed: 16_level_0, 死亡率), (慢性気管支炎及び肺気腫, 死亡数), (Unnamed: 18_level_0, 死亡率), (喘息, 死亡数), (Unnamed: 20_level_0, 死亡率), (胃潰瘍及び十二指腸潰瘍, 死亡数), (Unnamed: 22_level_0, 死亡率), (肝疾患, 死亡数), (Unnamed: 24_level_0, 死亡率), (腎不全, 死亡数), (Unnamed: 26_level_0, 死亡率), (老衰, 死亡数), (Unnamed: 28_level_0, 死亡率), (不慮の事故, 死亡数), (Unnamed: 30_level_0, 死亡率), (交通事故, 死亡数), (Unnamed: 32_level_0, 死亡率), (自殺, 死亡数), (Unnamed: 34_level_0, 死亡率), (gender_0, gender)]
Index: []

[0 rows x 36 columns]

## 縦横の入れ替え

In [287]:
# キーのデータ切り出し
dr_k = dr[[dr.columns[0],dr.columns[-1]]]
dr_k.columns = dr_k.columns.droplevel()
dr_k = dr_k.rename(columns={dr_k.columns[0]:"year"})

In [292]:
# 数のデータ縦横変換
dr_d = dr.iloc[:,1:-1].stack(level=0).drop(labels="死亡率",axis=1).dropna().rename(index={"Unnamed: 1_level_0":"総数"})
dr_d = dr_d.reset_index().rename(columns={"level_1":"死因"})

In [295]:
# キーとデータ結合
drs = pd.merge(dr_k,dr_d,left_index=True,right_on="level_0", how="left").drop(columns="level_0")
drs

      year gender            死因       死亡数
0     1899     総数            総数  932087.0
1     1899     総数         不慮の事故   21767.0
2     1899     総数          交通事故       ...
3     1899     総数            喘息       ...
4     1899     総数  心疾患（高血圧性を除く）   21113.0
...    ...    ...           ...       ...
6013  2019      女   胃潰瘍及び十二指腸潰瘍      1072
6014  2019      女         脳血管疾患   54784.0
6015  2019      女           腎不全     13071
6016  2019      女            自殺    5757.0
6017  2019      女        高血圧性疾患      5578

[6018 rows x 4 columns]